<li>
 <%= link_to user.name, user %>
  <% if admin_user? current_user %>
    | <%= link_to "edit", edit_user_path(user.id) %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
