<li>
 <%= link_to skill.name, skill %>
 <% if admin_user? current_user %>
   |<%= link_to "edit", edit_skill_path(skill.id) %>
   |<%= link_to "delete", skill, method: :delete, data: { confirm: "You sure?" } %>
 <% end %>
</li>
