<% provide(:title, 'All Skills') %>
<h1>All Skills</h1>

<%= will_paginate %>

<ul class="skills">
  <% @skills.each do |skill| %>
    <li>
      <%= link_to skill.name, skill %>
      | <%= link_to "delete", skill, method: :delete, data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
