<li>
  <span class="short_name"><%= position.short %><span>
  <span class="name"> <%= position.name %></span>
   <%= link_to "delete", position, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>